<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Request Header Parser Microservice</h1>
    <hr />
    <p>
      <b>
        A simple program that returns JSON containing the IP address, preferred
        language and software of the local system when the route /api/whoami is
        reached.
      </b>
    </p>

    <div class="container">
      <h3>Example Usage:</h3>
      <p>
        <a href="api/whoami">[base url]/api/whoami</a>
      </p>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0
          (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101
          Firefox/50.0"}</code
        >
      </p>
    </div>
    <div class="footer">
      <p>
        This project is created for
        <a href="https://www.freecodecamp.org" target="_blank"
          >freeCodeCamp.org</a
        >, as part of the Back End Development and APIs challenges.
      </p>
      <p>&copy; Shayan Ali (SA9102)</p>
    </div>
  </body>
</html>
